{{error}}

<form action="signin" method="post">
    <label for="">Usuario: <input type="text" name="username" id=""> </label>
    <br>
    <label for="">Password: <input type="text" name="password" id=""> </label>
    <br>
    <label for="">Email: <input type="text" name="email" id=""> </label>
    <br>
    <button type="submit">Registrame</button>
</form>